<!-- <a href="/">Dashboard</a>

<a href="/">Log Out</a>

<h1><%= @user.first_name %> <% @user.last_name %> Playlist</h1>

<table>
  <thead>
    <th>Artist</th>  
    <th>Title</th>
    <th>Times Added</th>
</thead> -->